.elems
{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 2px;
}
.description
{
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}
@media all and (max-width: 600px)
{
    .elems
{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: 50%;
}
.description
{
    padding: 4px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
}