.title-card
{
    padding: 10px;
    width: 96%;
    margin: 5px;
    background-color: #ffffff36;
    color: rgb(253, 253, 253);
    font-size: 40px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    border-radius: 5px;
    letter-spacing: 3px;
}

@media all and (max-width: 600px)
{
    .title-card
{
    padding: 10px;
    width: 96%;
    margin: 5px;
    background-color: #ffffff36;
    color: rgb(253, 253, 253);
    font-size: 30px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    border-radius: 5px;
    letter-spacing: 3px;
}
}